#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/p2sm.h>
#include <dt-bindings/zmk/paw3395-modes.h>
#include <dt-bindings/zmk/bistable_behavior.h>
#include <input/processors/p2sm.dtsi>
#include <input/processors/axis_clamper.dtsi>
#include <input/processors/report_rate_limit.dtsi>
#include <input/processors/accel_curve.dtsi>
#include <input/processors/rotate_plane.dtsi>
#include <behaviors/rate_limit.dtsi>
#include <behaviors/auto_hold.dtsi>
#include <behaviors/switch_keymap.dtsi>
#include <behaviors/mouse_scroll.dtsi>
#include <behaviors/mouse_key_press.dtsi>
#include <behaviors/af_toggle.dtsi>
#include <behaviors/bistable_toggle.dtsi>

&zip_2s_mixer {
	status = "okay";
	sync-report-ms = <0>;
	sync-scroll-report-ms = <8>;

	// arbitrary bounding box (0, 0, 0) - (255, 255, 255)
	ball-radius = <102>; // maximum = 127, center is at (127, 127, 127)
	sensor1-pos = [31 4B 2D];  // X Y Z
	sensor2-pos = [C1 3C 2D];

	feedback-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
	feedback-extra-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
	twist-feedback-delay = <5>;
};

/ {
	zip_dragscroll_accel: zip_dragscroll_accel {
		compatible = "zmk,accel-curve";
		#input-processor-cells = <0>;
		max-curves = <4>;
		points = <16>;
		device-name = "dragscroll";
		event-codes = <INPUT_REL_WHEEL INPUT_REL_HWHEEL>;
	};

	zip_bistable_snipe_scaler: zip_bistable_snipe_scaler {
		compatible = "zmk,input-processor-bistable-scaler";
		#input-processor-cells = <0>;
		type = <INPUT_EV_REL>;
		codes = <INPUT_REL_X INPUT_REL_Y>;
		track-remainders;
		default-coef = <ZBS_SCALE(1, 4)>;
		slot0 = <ZBS_RUNTIME>;
		slot1 = <ZBS_RUNTIME>;
		zrc-prefix = "bst/snipe";
	};

	zip_bistable_twist_scaler: zip_bistable_twist_scaler {
		compatible = "zmk,input-processor-bistable-scaler";
		#input-processor-cells = <0>;
		type = <INPUT_EV_REL>;
		codes = <INPUT_REL_WHEEL INPUT_REL_HWHEEL>;
		track-remainders;
		default-coef = <ZBS_SCALE(1, 10)>;
		default-coef-slot1 = <ZBS_SCALE(1, 40)>;
		slot0 = <ZBS_RUNTIME>;
		slot1 = <ZBS_RUNTIME>;
		zrc-prefix = "bst/twist";
	};

	zip_bistable_scroll_xy_scaler: zip_bistable_scroll_xy_scaler {
		compatible = "zmk,input-processor-bistable-scaler";
		#input-processor-cells = <0>;
		type = <INPUT_EV_REL>;
		codes = <INPUT_REL_X INPUT_REL_Y>;
		track-remainders;
		default-coef = <ZBS_SCALE(1, 3)>;
		default-coef-slot1 = <ZBS_SCALE(1, 30)>;
		slot0 = <ZBS_RUNTIME>;
		slot1 = <ZBS_RUNTIME>;
		zrc-prefix = "bst/dragscroll";
	};

	trackball {
		compatible = "zmk,input-listener";
		device = <&zip_2s_mixer>;
		input-processors = <&esb_ip>, <&zip_ble_report_rate_limit>;
	};

	rotated_pointer_plane {
		compatible = "zmk,input-listener";
		device = <&zip_rotate_pointer>;
		input-processors = <&esb_ip>, <&zip_ble_report_rate_limit>;
	};

	rotated_scroll_plane {
		compatible = "zmk,input-listener";
		device = <&zip_rotate_scroll>;
		input-processors = <&esb_ip>, <&zip_ble_report_rate_limit>;
	};

	trackball_primary_listener: trackball_primary_listener {
		compatible = "zmk,input-listener";
		device = <&trackball_primary>;
		input-processors = <&zip_2s_mixer INPUT_MIXER_SENSOR1>;
	};

	trackball_secondary_listener: trackball_secondary_listener {
		compatible = "zmk,input-listener";
		device = <&trackball_secondary>;
		input-processors = <&zip_2s_mixer INPUT_MIXER_SENSOR2>;
	};

	behaviors {
		bst_tog {
			display-name = "Toggle OS-dependent behaviors";
		};

		mouse_scroll {
			display-name = "Reserved [3]";
		};

		mouse_move {
			display-name = "Reserved [4]";
		};

		zbs_adv {
			display-name = "Advertise MUI over Bluetooth";
		};
	};
};

&msc {
	time-to-max-speed-ms = <1>;
	acceleration-exponent = <0>;
};

&mkp_input_listener { input-processors = <&esb_ip>; };
&msc_input_listener { input-processors = <&esb_ip>; };

&spi0 {
	status = "okay";
	compatible = "nordic,nrf-spim";
	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 30 (GPIO_ACTIVE_LOW)>;
	clock-frequency = <4000000>;

	trackball_primary: trackball_primary@0 {
		status = "okay";
		compatible = "pixart,paw3395";
		reg = <0>;
		spi-max-frequency = <4000000>;
		irq-gpios = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		cpi = <3200>;
		evt-type = <INPUT_EV_REL>;
		x-input-code = <INPUT_REL_X>;
		y-input-code = <INPUT_REL_Y>;
		power-mode = <PAW3395_HIGH_PERFORMANCE>;
		liftoff-dist = <PAW3395_LOD_2MM>;
		ripple-control;
		invert-x;
		invert-y;
		wakeup-source;
	};
};

&spi1 {
	status = "okay";
	compatible = "nordic,nrf-spim";
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio1 7 (GPIO_ACTIVE_LOW)>;
	clock-frequency = <4000000>;

	trackball_secondary: trackball_secondary@0 {
		status = "okay";
		compatible = "pixart,paw3395";
		reg = <0>;
		spi-max-frequency = <4000000>;
		irq-gpios = <&gpio1 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		cpi = <3200>;
		evt-type = <INPUT_EV_REL>;
		x-input-code = <INPUT_REL_X>;
		y-input-code = <INPUT_REL_Y>;
		power-mode = <PAW3395_HIGH_PERFORMANCE>;
		liftoff-dist = <PAW3395_LOD_2MM>;
		ripple-control;
	};
};

/ {
	behaviors {
		rrl {
			values-ms = <0 1 2 4 6 8>;
		};

		paw_cal1: paw_cal1 {
			status = "disabled";
			compatible = "zmk,behavior-paw3395-calibrate";
			#binding-cells = <0>;
			display-name = "Manual calibration of the left sensor";
			feedback-duration = <200>;
			feedback-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
			feedback-extra-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
			bindings = <&trackball_primary>;
		};

		paw_cal2: paw_cal2 {
			status = "disabled";
			compatible = "zmk,behavior-paw3395-calibrate";
			#binding-cells = <0>;
			display-name = "Manual calibration of the right sensor";
			feedback-duration = <200>;
			feedback-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
			feedback-extra-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
			bindings = <&trackball_secondary>;
		};

		paw_mode1: paw_mode1 {
			compatible = "zmk,behavior-paw3395-power-mode-toggle";
			#binding-cells = <2>;
			display-name = "Switch mode of the left sensor";
			feedback-duration = <200>;
			feedback-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
			feedback-extra-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
			bindings = <&trackball_primary>;
		};

		paw_mode2: paw_mode2 {
			compatible = "zmk,behavior-paw3395-power-mode-toggle";
			#binding-cells = <2>;
			display-name = "Switch mode of the right sensor";
			feedback-duration = <200>;
			feedback-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
			feedback-extra-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
			bindings = <&trackball_secondary>;
		};
	};
};
